body{
    margin: 0;
    padding: 0;
}

.section-nav{
    height: 80px;
}
.section-nav .nav-1{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    background-color: black;
    align-items: center;
    color: aliceblue;
}

.nav-1 .logo{
    height: 50px;
    width: 100px;
}
.nav-1 .input{
    display: flex;
    align-items: center;

}
.nav-1 input{
    width: 500px;
    height: 20px;
    border-radius: 5px;
    padding: 18px;
    font-size: 16px;
}
.nav-1 .input i{
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-1 button{
    height: 40px;
    width: 100px;
    border-radius: 15px;
    font-size: 18px;
}
.nav-1 .cart{
    display: flex;
    align-items: center;
}
.nav-1 .cart p{
    font-size: 18px;
    padding-right: 10px;
}
.nav-1 .cart i{
    font-size: 18px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;

}
.nav-2{
    /* display: flex;
    justify-content: center; */
}
.nav-2 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(77, 67, 67);
    margin: 0;

}
.nav-2 ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.section-2{
    height: 40vh;
    width: 100%;
}
.section-2 .banner {
    width: 100%;
    height: 400px;
    background: url("https://help.rangeme.com/hc/article_attachments/360006928633/what_makes_a_good_product_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 26px;
}
